body {
background-color: slategray;
}

main {
   display: flex;
    height: 200px;
    width: auto;
    justify-content: space-around;
    margin-top: 100px;
  }
  img {
      height: 200px;
      border: 4px solid black;
  }